page-registrar-punto {

    .fab {
        margin-right: 5px;
        margin-top: 10px;
    }

    .fabSave {
        margin-right: 5px;
        margin-top: 10px;
       }

    ion-grid {
        height: 100%;
    }

    .data {
        height: 30%;
    }

    .picture {
        height: 65%;
        background-color: grey;
        border: 3;
    }   
}
